services:
  db:
    image: postgres:16
    restart: always
    environment:
      POSTGRES_USER: wiscflow
      POSTGRES_PASSWORD: wiscflow_dev
      POSTGRES_DB: wiscflow
    ports:
      - '5432:5432'
    volumes:
      - postgres_data:/var/lib/postgresql/data

volumes:
  postgres_data:
